<ul class="otherStatLine">
  <li class="otherStatRow" id="currentStreak">
    <p>❌ Current Streak</p>
    <p></p>
  </li>
  <li class="otherStatRow" id="longestWinStreak">
    <p>🏆 Longest Win Streak</p>
    <p></p>
  </li>
  <li class="otherStatRow" id="longestLoseStreak">
    <p>❌ Longest Lose Streak</p>
    <p></p>
  </li>
  <li class="otherStatRow" id="totalHit">
    <p>🏹 Total Hit</p>
    <p></p>
  </li>
  <li class="otherStatRow" id="totalMiss">
    <p>❌ Total Miss</p>
    <p></p>
  </li>
  <li class="otherStatRow" id="totalBoatShot">
    <p>✅ Total Boat Shoot</p>
    <p></p>
  </li>
  <li class="otherStatRow" id="totalBoatDestroyed">
    <p>⛴️ Total Boat Destroy</p>
    <p></p>
  </li>
  <li class="otherStatRow" id="totalBotLost">
    <p>💀 Total Boat Lost</p>
    <p></p>
  </li>
  <li class="otherStatRow" id="precision">
    <p>📈 Precision</p>
    <p></p>
  </li>
</ul>
