<!-- game.html -->
{% load static %}
<script type="module" src="{% static '/js/loading.js' %}"></script>
{% block content %}
<div class="dashboard">
  <div class="boxTwoGame">
    <button class="buttonGame" id="buttonGamePong">PONG</button>

    <button class="buttonGame" id="buttonGameBattleship">BATTLESHIP</button>
  </div>
  <div class="dashboard_wrapper">
    <div class="dashboardInformation">
      <div class="results_wrapper">
        <div class="classicMatchs_wrapper">
          <h3>Classics Matchs</h3>
          <div class="dash_classicMatchs">
            <ul id="dash_listClassicMatch">
            </ul>
          </div>
        </div>
        <div class="tournaments_wrapper">
          <h3>Tournaments</h3>
          <div class="dash_tournaments">
            <ul id="dash_listTournaments">
            </ul>
          </div>
        </div>
      </div>
      <div class="stats_wrapper">
        <h3 id="statName">Stats</h3>
        <div class="dash_stats">
          <div class="allStat">
            <div class="gameStats">
              <div class="piechartGame">
              </div>
              <div class="piechartStatGame">
                <p id="classicGameStat">Classics Games</p>
                <p id="winGame">🏆 Win</p>
                <p id="loseGame">❌ Lose</p>
              </div>
            </div>
            <div class="tournamentStats">
              <div class="piechartTournament"></div>
              <div class="piechartStatTournament">
                <p id="classicTournamentStat">Tournaments</p>
                <p id="winTournament">🏆 Win</p>
                <p id="loseTournament">❌ Lose</p>
              </div>
            </div>
          </div>
          <div class="otherStat">
          </div>
        </div>
      </div>
    </div>
    <div class="PopUp_wrapper">
      <div class="GameStatPopUp">
        {% csrf_token %}
        <a id="closePopUp">x</a>
        <div id="boxTime">
          <h4>Date</h4>
          <p>
        </div>
        <div id="playerVs">
          <div id="player_1">
            <img id="player_1_avatar" src="" alt="PLAYER1_image">
            <p id="player1_name"></p>
          </div>
          <div id="playerVsText">
            VS
          </div>
          <div id="player_2">
            <img id="player_2_avatar" src="" alt="PLAYER2_image">
            <p id="player2_name"></p>
          </div>
        </div>
        <div id="boxScore">
          <div class='players_score'>
            <p></p>
            <h4>Score</h4>
            <p></p>
          </div>
        </div>
        <div id="ballTouch">
          <div class='players_touched'>
            <p></p>
            <h4>Touched balls</h4>
            <p></p>
          </div>
        </div>
      </div>
      <div class="TournamentStatPopUp">
        {% csrf_token %}
        <a id="closeTournamentPopUp">x</a>
        <div id="boxTimeTournament">
          DATE
        </div>
        <div id="tournamentDescription">
          Description
        </div>
        <div id="winnerTextTournament">
          Players
        </div>
        <div id="winnerImageTournament">
          <div id="winnerName">
            Winner:
          </div>
          <div id="tournamentWinner">
            <img id="winnerTournamentImage" src="" alt="WINNER_image">
            <div id="tooltip_winnerTournament">PLAYER1</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
