<!-- game.html -->
{% load static %}
<script type="module" src="{% static '/js/loading.js' %}"></script>
{% block content %}
<div class="boxTwoGame">
	<button class="buttonGame" id="buttonGamePong">Pong</button>

	<button class="buttonGame" id="buttonGameBattleship">Battleship</button>
</div>

<div class="dashboardInformation">
	<div class="dash_classicMatchs">
		<h4 class="h4">
			Classics Matchs
		</h4>

		<ul id="dash_listPongClassicMatch">
		</ul>
	</div>

	<div class="dash_tournaments">
		<h4 class="h4">
			Tournaments
		</h4>
		<ul id="dash_listPongTournaments">
		</ul>
	</div>

	<div class="dash_stats">
		<h4 class="h4" id="statName">
			Stats
		</h4>
		<div class="pongStat">
			<div class="piechartGame">

			</div>
			<div class="piechartStatGame">
				<p id="winGame">Win</p>
				<p id="loseGame">Lose</p>
			</div>

			<div class="piechartTournament">

			</div>
			<div class="piechartStatTournament">
				<p id="winTournament">Win</p>
				<p id="loseTournament">Lose</p>
			</div>

		</div>
	</div>
</div>
{% endblock content %}
