<ul class="otherStatLine">
  <li class="otherStatRow" id='currentStreak'>
    <p>❌ Current Streak</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='longestWinStreak'>
    <p>🏆 Longest Win Streak</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='longestLoseStreak'>
    <p>❌ Longest Lose Streak</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='pointsScored'>
    <p>🏆 Points Scored</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='pointsConceded'>
    <p>❌ Points Conceded</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='ballsHit'>
    <p>👊 Balls Hit</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='ballsHitOpponent'>
    <p>❌ Balls hit by opponent</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='gamesPlayed'>
    <p>🎮 Total Games Played</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='ai'>
    <p>🤖 Is AI better than you</p>
    <p></p>
  </li>
  <li class="otherStatRow" id='precision'>
    <p>📈 Percentage Ball Hit</p>
    <p></p>
  </li>
</ul>
