<!-- authApp/login.html -->
{% load static %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
<script type="module" src="{% static '/js/loading.js' %}"></script>
<script type="module" src="{% static '/js/authApp.js' %}"></script>
{% block content %}
  <section class="container">
    <h1 id="messageConnexion">Log In</h1>
    <form>
      {% csrf_token %}
      <div class="input-box">
        <label for="Input_usr">Username:</label><br/>
        <input type="text" required placeholder="Username" pattern="\S.*"><br/>
      </div>
      <div class="input-box">
        <label for="Input_pwd">Password:</label><br/>
        <input type="password" required placeholder="Password" pattern="\S.*"><br/>
      </div>
    </form>
    <div class="submit">
      <button class="submit_BTN">Submit</button>
      <p>Don't have an account ? <a href="/authApp/register" data-link>Join us !</a></p>
    </div>
  </section>
{% endblock content %}
