<!-- game.html -->
{% load static %}
<script type="module" src="{% static '/js/loading.js' %}"></script>
<script type="importmap">
    {
        "imports": {
            "three": "../build/three.module.js",
            "three/addons/": "./jsm/"
        }
    }
</script>
<div class="pongWindow">

	<div class="gameData">
		<p id="gamePlayer1">
            <img id="ppPlayer1" src="" alt="">
        </p>
		<p id="gamePlayer2">
            <img id="ppPlayer2" src="" alt="">
            AI
        </p>
	</div>

</div>
