<!-- authApp/login.html -->

{% load static %}
  <script type="module" src="{% static '/js/loading.js' %}"></script>
{% block content %}
  <section class="register_container">
    <h1>Modify your transcendental account</h1>
    <form>
      {% csrf_token %}
      <div class="input-box">
        <label for="Input_usr">New Username (optional)</label><br/>
        <input type="text" id="Input_new_usr" required placeholder="Enter your new username" pattern="\S.*"><br/>
      </div>
      <div class="input-box">
        <label for="Input_mail">New Mail (optional)</label><br/>
        <input type="email" id="Input_new_mail" required placeholder="Enter your new email adress" pattern="\S.*"><br/>
      </div>
      <div class="input-box">
        <label for="Input_pwd">New Password (optional)</label><br/>
        <input type="password" id="Input_new_pwd" required placeholder="Enter your new password" pattern="\S.*"><br/>
      </div>
      <div class="input-box">
        <label for="Input_confirm_pwd">Confirm New Password (optional)</label><br/>
        <input type="password" id="Input_new_confirm_pwd" required placeholder="Confirm your new password" pattern="\S.*"><br/>
      </div>
      <div class="input-box">
        <label for="Input_pwd">Actual Password</label><br/>
        <input type="password" id="Input_pwd" required placeholder="Enter your new password" pattern="\S.*"><br/>
      </div>
      <div class="input-box">
        <label for="Input_avatar">Choose a new profile picture: (optional)</label>
        <input type="file" id="newAvatar" name="avatar" accept="image/png, image/jpeg"/>
        <img id="avatar_preview"></img>
      </div>
    </form>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <div class="submit">
      <button class="submit_BTN">Submit</button>
      <p class="feedback"></p>
    </div>
  </section>
{% endblock content %}
