.chatbox_wrapper {
  position: fixed;
  bottom: 0;
  right: 30px;
  box-shadow: 
  1px 1px 5px rgba(255, 255, 255, 0.2),
  -1px -1px 5px rgba(255, 255, 255, 0.2);
  width: 350px;
}

.chatbox_wrapper p {
  overflow: hidden;
}

.chatbox_header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  background: radial-gradient(ellipse at bottom, #4c77e6 5%, #7f4af5);
  border: 1px solid var(--third);
  border-bottom: none;
  font-size: 1.2em;
  height: 0;
  cursor: pointer;
  overflow: hidden;
}

.chatbox_header_wrapper.connected {
  height: 3.2ch;
}

.chatbox_header_wrapper:hover {
  background: radial-gradient(ellipse at bottom, var(--main-color) , var(--third));
  border-bottom: none;
  box-shadow: 
  1px 1px 2px white,
  -1px -1px 2px white;
}

.chatbox_header {
  display: grid;
  grid-template-areas: "a b";
  gap: 10px;
}

.chatbox_header img {
  display: block;
  margin: auto;
  margin-left: 5px;
}

.notification_wrapper.active {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--secondary-bg-color);
  color: white;
  font-size: 0.6em;
  font-weight: 900;
  width: 30px;
  height: 30px;
  margin: auto 5px auto 0;
}

.notification_wrapper p {
  height: auto;
  text-align: center;
  margin-top:auto;
  margin-bottom:auto;
}

.chatbox_wrapper .open_chatbox_wrapper {
  height: 0;
  transition: height .3s ease;
}

.chatbox_wrapper.open .open_chatbox_wrapper {
  height: 400px;
}

.main_box {
  background: var(--main-bg-color);
}

.main_box_header.homepage {
  background: var(--secondary-bg-color);
  color: white;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-content: start;
  padding: 10px 5px 10px 5px;
}

.main_box_header.homepage input {
  width: 80%;
}

.main_box_header.homepage img.back_arrow {
  cursor: pointer;
}

.main_box_body.homepage {
  background: var(--main-bg-color);
  position: relative;
  top: 0;
  height: 360px;
}

.main_box_body.homepage h2 {
  font-size: 31px;
  text-align: center;
  height: 38px;
} 

.main_box_body.homepage .conversation_list {
  height: 75%;
  overflow-y: scroll;
  scrollbar-color: var(--third) transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--second);
  border-radius: 5px;
} 

::-webkit-scrollbar-thumb:hover {
  background: var(--third);
} 

.main_box_body.homepage .conversation_list li {
  border-radius: 5px;
  border: 1px solid var(--secondary-bg-color);
  background: var(--secondary-bg-color);
  box-shadow: 2px 2px 4px var(--secondary);
  margin: 8px 11px 15px 8px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 10px;
}

.main_box_body.homepage .conversation_list li:hover {
  box-shadow: 2px 2px 4px var(--fourth);
  background: var(--main-bg-color);
  border: 1px solid var(--fourth);
}

.main_box_body.homepage .conversation_list img {
  width: 30px;
  display: block;
  margin: auto;
}

.main_box_body.homepage .conversation_list img.join_btn {
	display: none
}

.main_box_body.homepage .conversation_list .not_member img.join_btn {
	display: inline-block;
	cursor: pointer;
}



.main_box_body.homepage .conversation_list .conversation_name {
  display: flex;
}

.connection_point {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-top: 5px;
  margin-left: 3px;
}

.connection_point.connected {
  background: green;
}

.connection_point.disconnected {
  background: red;
}

.conversation_text .last_msg {
  font-size: 0.7em;
  max-width: calc(350px - ((350px / 5) * 2) - 20px);
  color: rgba(255, 255, 255, 0.7);
  text-overflow: ellipsis;
}

.conversation_list .notification_wrapper.active {
  background: var(--secondary);
}

.main_box_body.homepage .chatbox_homepage_navbar {
  height: 15%;
  background: var(--secondary-bg-color);
  display: flex;
  justify-content: space-evenly;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid var(--main-bg-color);
}

.main_box_body.homepage .chatbox_homepage_navbar button {
  border-radius: 3px;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 80px;
  transition: .3s ease;
  background: transparent;
  border: 1px solid var(--fourth);
  color: var(--fourth);
  cursor: pointer;
}

.main_box_body.homepage .chatbox_homepage_navbar button:hover {
  background: var(--fourth);
  border: 1px solid var(--main-bg-color);
  color: var(--main-bg-color);
}

.main_box_body.homepage .channel_creation_box {
  position: relative;
  bottom: 500px;
  width: 80%;
  height: 440px;
  background: var(--fourth);
  border-radius: 2px;
  margin: auto;
  box-shadow: 0px 0px 5px var(--main-color);

  h2 {
    font-size: 1.3em;
  }

  div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
		margin-bottom: 10px;
    text-align: center;
  }

  input[type="text"] {
    outline: none;
    border-radius: 2px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    padding-left: 10px;
  }

  .privacy_checkbox_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;

		div {
			margin-bottom: 0;
			width: 40%;
		}
  }

  .checkbox_wrapper input {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

	label {
		font-size: 0.8em;
	}

  button {
    width: 100px;
    padding: 3px 7px 3px 7px;
    font-size: 1em;
    color: white;
    background: 
    linear-gradient(135deg, var(--secondary-bg-color),  var(--main-bg-color)),
    var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 2px;
    transition: all .3s ease;
    cursor: pointer;
  }

  button:hover {
    background: 
      linear-gradient(135deg, rgba(0, 155, 217, 0.1), rgba(0, 155, 217, 0.4)),
      white;
    color: var(--main-bg-color);
    cursor: pointer;
  }

  .feedback {
    font-size: 0.7em;
    font-family: radjhanibold;
    color: red;
  } 
}

.main_box_header.private_message ,
.main_box_header.channel {
  background: var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10x 5px 10px 5px;
}

.main_box_body.channel .conversation_body {
  display: flex;

}

.main_box_header.private_message .contact_wrapper, 
.main_box_header.channel .contact_wrapper {
  display: grid;
  grid-template-areas: "a b";
  gap: 10px;
}

.main_box_header.private_message .contact_wrapper img ,
.main_box_header.channel .contact_wrapper img {
  border-radius: 50%;
  width: 40px;
  height: auto;
  margin-left: 10px;
}

.main_box_header.private_message .contact_name_wrapper,
.main_box_header.channel .contact_name_wrapper {
  font-size: 1.2em;
  height: 100%;
  align-self: center;
}

.main_box_header.private_message .contact_name_wrapper {
  display: flex;
  padding-top: 10px;
}

.main_box_header.channel .contact_name_wrapper .channel_description {
  font-size: 0.7em
}

.main_box_header.private_message img,
.main_box_header.channel img {
  height: 40px;
  width: auto;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  cursor: pointer;
}

.main_box_body.private_message .conversation_body,
.main_box_body.channel .conversation_body {
  height: 300px;
}

.main_box_body.private_message .conversation,
.main_box_body.channel .conversation {
  padding: 10px 5px 5px 5px; 
  overflow: scroll;
  height: 300px;

  .top_point {
    border-radius: 50%;
    background: #6d5af0;
    height: 10px;
    width: 10px;
    margin: 10px auto 15px auto;
  }
  .message_item {
    border-radius: 8px;
    background: linear-gradient(to bottom, #585858, var(--secondary-bg-color));
    width: 70%;
    margin-top: 10px;
    padding: 5px;
    float: left;

    .sender {
      display: flex;
      align-content: space-between;
      margin-bottom: 5px;

      img {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      p {
        font-weight: 1000;
        font-size: 0.9em;
      }
    }

    .message {
      overflow-wrap: break-word;
    }

    .timestamp {
      font-size: 0.7em;
      font-style: italic;
      text-align: right;
    }
  }

  .message_item.own {
    background: linear-gradient(to bottom, #4c77e6 5%, #7f4af5);
    float: right;

    img {
      display: none;
    }
  }

  .loading {
    display: inline-block;
    margin-left: 152px;
  }
}

.main_box_body.private_message .sendbox,
.main_box_body.channel .sendbox {
  height: 50px;
  background: linear-gradient(to bottom, #4c77e6 5%, #7f4af5);
  display: flex;
  justify-content: space-between;

  img {
    height: 30px;
    width: auto;
    display: block;
    margin: auto;
    margin-right: 15px;
  }

  input {
    width: 80%;
    height: 70%;
    background: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 0.9em;
    padding-right: 5px;
    padding-left: 5px;
    margin: 2% 10px 2% 10px;
    overflow-y: scroll;
  }

  input:focus-visible {
    border: none;
    outline: none;
  }
}

.main_box_body.channel .sidebar {
  height: 300px;
  min-width: 70px;
  overflow: scroll;
  border-right: 1px solid var(--secondary-bg-color);
  box-shadow: 1px 0 2px var(--secondary-bg-color);
  padding-top: 10px;
  text-align: center;

  img {
    display: block;
    width: 25px;
    height: auto;
    margin: auto;
  }

  .user_wrapper {
    font-size: 0.8em;
    margin: 5px 5px 0 5px;
  }

  .username {
    text-overflow: ellipsis;
  }

  .connection_point {
    position: relative;
    top: 0;
    right: 0;
  }
}
