.dashboard .boxTwoGame {
	text-align: center;
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	max-width: 500px;
	width: 100%;
	height: 75px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

.dashboard .buttonGame {
	background-color: transparent;
	border: solid var(--fourth) 1px;
	color: white;
	font-size: 35px;
	text-align: center;
	height: 80px;
	width: 95%;
	margin: auto;
	border-radius: 5px;
	cursor: pointer;
  transition: all .3s ease;
}

.dashboard .buttonGame:hover {
	font-weight: bold;
  box-shadow: 1px 1px 5px 3px var(--main-color), -1px -1px 5px 3px var(--main-color);
}

.dashboard .buttonGame:active {
	font-weight: bold;
	background-color: var(--fourth);
}

.dashboard .dashboard_wrapper {
  background: var(--fourth);
}
.dashboard .dashboardInformation {
	margin-left: 10vw;
	margin-right: 10vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	border-radius: 10px;
}

.dashboard h3 {
  font-size: 1.3em;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
}

.dashboard .results_wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.dashboard .classicMatchs_wrapper {
	background:
		linear-gradient(to bottom, var(--secondary-bg-color) 0%, var(--main-bg-color) 65%),
		var(--main-bg-color);
	border: 1px solid var(--fourth);
	border-radius: 5px;
	grid-column: 1 / 2;
	margin-top: 3%;
	margin-left: 3%;
	overflow-y: scroll;
	height: 14em;
}

.dashboard .dash_classicMatch, 
.dashboard .dash_tournament {
	border-radius: 2px;
	cursor: pointer;
  margin: 5px;
}

.dashboard .dash_classicMatch:hover,
.dashboard .dash_tournament:hover {
	border: 1px solid var(--fourth);
}

.dashboard .tournaments_wrapper {
	border: 1px solid var(--fourth);
	background:
		linear-gradient(to bottom, var(--secondary-bg-color) 0%, var(--main-bg-color) 65%),
		var(--main-bg-color);
	border-radius: 10px;
	grid-column: 1 / 2;
	margin-left: 3%;
	margin-bottom: 3%;
	overflow-y: scroll;
	height: 14em;
}

.dashboard .stats_wrapper {
	border: 1px solid var(--fourth);
	background:
		linear-gradient(to bottom, var(--secondary-bg-color) 0%, var(--main-bg-color) 65%),
		var(--main-bg-color);
	border-radius: 10px;
	grid-column: 2 / 2;
	grid-row-start: 1;
	grid-row-end: 3;
	margin-top: 3%;
	margin-right: 3%;
	margin-bottom: 3%;
	display: grid;
	grid-template-areas:'a'
						'b';
	grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
}

.dashboard #statName {
	grid-area: a;
}

.dashboard .allStat {
	grid-area: a;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	margin-top: 10px;
}

.dashboard .gameStats
{
	display: grid;
	grid-template-areas: 'a b';
	gap: 10px;
}

.dashboard .piechartGame {
	grid-area: a;
	width: 15vmin;
  	height: 15vmin;
	border-radius: 50%;
	background-image: conic-gradient(
		green 180deg,
        red 0 180deg);
}

.dashboard .piechartStatGame {
	grid-area: b;
	display: grid;
	grid-template-areas:
					'a'
					'b'
					'c';
	grid-gap: 5px;
	width: 15vmin;
  	height: 15vmin;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-size: 1em;
}

.dashboard #classicGameStat {
	color: white;
	grid-area: a;
}

.dashboard #winGame {
	color: green;
	grid-area: b;
}

.dashboard #loseGame {
	color: red;
	grid-area: c;
}

.dashboard .tournamentStats {
	display: grid;
	grid-template-areas: 'a b';
	gap: 10px;
}

.dashboard .piechartTournament {
	grid-area: a;
	margin-top: 5px;
	width: 15vmin;
  	height: 15vmin;
	border-radius: 50%;
	background-image: conic-gradient(
		green 180deg,
        red 0 180deg);
}

.dashboard .piechartStatTournament {
	grid-area: b;
	display: grid;
	grid-template-areas:
					'a'
					'b'
					'c';
	grid-gap: 10px;
	width: 15vmin;
  	height: 15vmin;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-size: 1em;
}

.dashboard #classicTournamentStat {
	color: white;
	grid-area: a;
}

.dashboard #winTournament {
	color: green;
	grid-area: b;
}

.dashboard #loseTournament {
	color: red;
	grid-area: c;
}

.dashboard .otherStat {
	grid-area: b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.dashboard #otherStatLine {
	grid-area: b;
	column-count: 2;
	margin-left: 5%;
}

.dashboard #otherStatRow {
	margin-bottom: 8%;
}

.dashboard .PopUp_wrapper {
	display: none;
	backdrop-filter: blur(5px);
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

.dashboard .GameStatPopUp {
	display: none;
	position: absolute;
	top: 15%;
	left: 25%;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	background-color: var(--third);
	border-radius: 5px;
}

.dashboard .specificGameStat {
	display: grid;
	grid-template-areas:
				'a a a'
				'b b b'
				'c c c'
				'd d d';
	justify-content: center;
	align-items: center;
	height: 100%;
}

.dashboard #boxTime {
	grid-area: a;
	text-align: center;
}

.dashboard #playerVs {
	grid-area: b;
	text-align: center;
	display: grid;
	grid-template-areas: 'a b c';
	justify-content: center;
	align-items: center;
	gap: 10%;
}

.dashboard #player_1_avatar {
	grid-area: a;
}

.dashboard #playerVsText {
	grid-area: b;
}

.dashboard #player_2_avatar {
	grid-area: c;
}

.dashboard #player_1, #player_2 {
	display: flex;
	justify-content: center;

}

.dashboard #tooltip_player1, 
.dashboard #tooltip_player2 {
	display: none;
	position: absolute;
	width: auto;
	min-width: 75px;
	background-color: var(--fourth);
	color: #fff;
	border-radius: 6px;
	text-align: center;
	pointer-events: none;
	padding: 1px;
    margin-top: -25px;
}

.dashboard #boxScore {
	grid-area: c;
	text-align: center;
}

.dashboard #ballTouch {
	grid-area: d;
	text-align: center;
}

.dashboard #closePopUp {
	position: absolute;
	top: 0px;
	right: -10px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	cursor: pointer;
}

.dashboard .TournamentStatPopUp {
	display: none;
	position: absolute;
	top: 15%;
	left: 25%;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	background-color: var(--third);
	border-radius: 5px;
}

.dashboard .specificTournamentStat {
	display: grid;
	grid-template-areas:
				'a a a'
				'b b b'
				'c c c'
				'd d d';
	justify-content: center;
	align-items: center;
	height: 90%;
}

.dashboard #boxTimeTournament,
.dashboard #tournamentDescription,
.dashboard #winnerTextTournament,
.dashboard #winnerImageTournament {
	text-align: center;
}

.dashboard #boxTimeTournament {
	grid-area: a;
}

.dashboard #tournamentDescription {
	grid-area: b;
}

.dashboard #winnerTextTournament {
	grid-area: c;
}

.dashboard #winnerImageTournament {
	grid-area: d;
	display: grid;
	justify-content: center;
	grid-template-areas:
          'a'
					'b';
	row-gap: 5px;
}

.dashboard #winnerTournamentImage {
	grid-area: b;
	align-items: center;
}

.dashboard #tournamentWinner {
	justify-content: center;
	display: flex;
}

.dashboard #tooltip_winnerTournament {
	display: none;
	width: auto;
	min-width: 75px;
	background-color: var(--fourth);
	color: #fff;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	justify-content: center;
	margin-top: -25px;
}

.dashboard #closeTournamentPopUp {
	position: absolute;
	top: 0px;
	right: -10px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	cursor: pointer;
}

@media (max-width: 1285px) {
.dashboard 	.piechartStatGame,
.dashboard 	.piechartStatTournament {
		font-size: 1em;
	}
}

@media (max-width: 900px) {
  .dashboard .piechartStatGame,
  .dashboard .piechartStatTournament {
		font-size: 0.9em;
	}
  .dashboard #otherStatLine {
		font-size: 2vh ;
	}
}

@media (max-width: 800px) {
  .dashboard .piechartStatGame,
  .dashboard .piechartStatTournament {
		font-size: 0.9em;
	}
}

@media (max-width: 700px) {
  .dashboard .piechartStatGame,
  .dashboard .piechartStatTournament {
		font-size: 2.5vw;
	}
  .dashboard #otherStatLine {
		font-size: 1.7vh;
	}
}

@media (max-width: 600px) {
  .dashboard #otherStatLine {
		font-size: 75%;
	}
}

@media (max-width: 500px) {
  .dashboard #otherStatLine {
		font-size: 65%;
	}
}
