h1 {
  text-align: center;
  text-transform: uppercase; 
  margin-bottom: 40px;
}

.wrapper {
  margin: 30px 20% 0 20%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  min-height: 70vh;
}

.games_selection {
  justify-content: center;
  text-align: center;
  margin-right: 50px;
  display: grid;
  grid-template-areas: 
          'a b'
          'c c';
  grid-gap: 30px;
  max-height: 440px;
} 

.game_pres {
  height: 11ch;
}

.tournaments {
  width: 360px;
}

.games_selection {
  width: 600px;
}

.headers {
  text-align: center;
}

.pong:hover .headers,
.battleship:hover .headers,
.tournaments:hover .headers {
  background: 
        radial-gradient(ellipse at bottom, var(--main-color), rgba(0, 0, 0, 0) 50%);
}

.pong.inqueue .headers,
.battleship.inqueue .headers,
.tournaments.inqueue .headers {
  background: 
        radial-gradient(ellipse at bottom, var(--main-color), rgba(0, 0, 0, 0) 50%);
}


.headers h2 {
  text-align: center;
}

.line1 {
  height: 1px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  width: 100%;
}

.pong .line1 {
  width: 150%;
}

.selection_wrapper {
  text-align: justify;
  text-justify: inter-character;
  margin-top: 30px;
  transition: all .3s ease-in;
}

.selection_wrapper section p:first-child {
  margin-bottom: 30px;
}

.games_selection .selection_wrapper li {
  display: grid;
  grid-template-columns: 40px auto;
  gap: 20px;
  width: auto;
  text-align: left;
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
}

.selection_wrapper input[type="checkbox"] {
  cursor: pointer;
  transform: 
  rotate(45deg)
  translateY(4px);
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--main-color);
  background: var(--secondary-bg-color);
  appearance: none;
  transform: all .3s ease;
}

.selection_wrapper label span {
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
}

.selection_wrapper label span::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px white;
  background: white;
  box-shadow: 
  2px 2px 5px white,
  -2px -2px 5px white;
  cursor: pointer;
  opacity: 0;
}

.selection_wrapper input[type="checkbox"]:hover {
  border: 3px solid var(--main-color);
  box-shadow:
  1px 1px 4px var(--third),
  -1px -1px 4px var(--third);
}

.selection_wrapper label span.checked::after {
  opacity: 1;
}

h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.wrapper button {
  border-radius: 2px;
  margin: 0;
  padding: 0.2em;
  width: 10ch;
  height: auto;
  text-align: center;
  overflow: visible;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background: var(--secondary-bg-color);
  cursor: pointer;
  transition: .5s ease;
}

.wrapper button:hover {
  box-shadow: 
  2px 2px 5px var(--main-color)
  -2px -2px 5px var(--main-color);
  background: var(--main-background);
}

.confirm_btn.inqueue {
  content: 'Searching a match';
  background: 
  linear-gradient(to bottom left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, .4) 80%),
  linear-gradient(to bottom left, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0) 100%),
  var(--main-color);
  border: none;
  color: var(--main-bg-color);
  font-weight: 900;
}

.confirm_btn.inqueue:hover {
  background: 
  linear-gradient(to bottom left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, .4) 80%),
  linear-gradient(to bottom left, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0) 100%),
  var(--main-color);
  border: none;
  color: var(--main-bg-color);
  font-weight: 900;
  cursor: auto;
}

.button_wrap {
  margin-top: 20px;
  grid-area: c;
} 

.confirm_btn {
  position: relative;
}

.games_selection .cancel_btn {
  position: relative;
  top: 17px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none;
  img {
    width: 20px;
    height: auto;
    position: relative;
    top: -18px;
  }
}


.tournament_btn {
  margin-bottom: 40px;
  width: 200px;
}

.tournament_btn button {
  font-size: 1.2em;
}

.games_selection button {
  font-size: 1.5em;
}

@media (max-width: 1320px) {
  .wrapper {
    margin: 30px 15% 0 15%;
  }
}

@media (max-width: 1130px) {
  .wrapper {
    display: block;
  }

  .tournaments,
  .games_selection {
    width: 70vw; 
  }

  .tournaments {
    margin-top: 120px;
  }

  .tournaments p {
    text-align: center;
    padding: 0 10% 0 10%;
    height: 5ch;
    margin-bottom: 30px;
  }

  .games_selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 40px;
  }

  .pong .line1 {
    width: 100%;
  }

  .selection_wrapper {
    display: block;
  }

  .selection_wrapper ul {
    height: 140px;
  }

  .tournament_btn_wrapper {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 680px) {
  .game_pres {
    height: 14ch;
  }
}

@media (max-width: 600px) {
  .games_selection {
    display: block;
    max-height: none;
  }

  .button_wrap {
    margin-top: 30px; 
  }

  .game_pres {
    font-size: 1em;
    height: auto;
  }

  section {
    margin-bottom: 30px;
    height: auto;
  }

  .selection_wrapper ul {
    height: auto;
  }

  .tournaments {
    margin-top: 0;
  }

  .tournaments .game_pres {
    height: auto;
  } 
}

@media (max-width: 540px) {
  .tournament_btn button {
    font-size: 1em;
  }

  .game_pres {
    height: auto;
  }

  .tournament_btn {
    padding: 0 10% 0 10%;
  }
}
