.games_page h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.games_page .wrapper {
  margin: 30px 20% 90px 20%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
  min-height: 70vh;
}

.games_page .games_selection {
  justify-content: center;
  text-align: center;
  margin-right: 50px;
  display: grid;
  grid-template-areas:
  'a b'
  'c c';
  grid-gap: 50px;
  max-height: 440px;
}

.games_page .game_pres {
  height: 11ch;
}

.games_page .tournaments {
  width: 360px;
}

.games_page .games_selection {
  width: 600px;
}

.games_page .headers {
  text-align: center;
}

.games_page .pong:hover .headers,
.games_page .battleship:hover .headers,
.games_page .tournaments:hover .headers {
  background:
  radial-gradient(ellipse at bottom, var(--main-color), rgba(0, 0, 0, 0) 50%);
}

.games_page .pong.inqueue .headers,
.games_page .battleship.inqueue .headers,
.games_page .tournaments.inqueue .headers {
  background:
  radial-gradient(ellipse at bottom, var(--main-color), rgba(0, 0, 0, 0) 50%);
}


.games_page .headers h2 {
  text-align: center;
}

.games_page .line1 {
  height: 1px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  width: 100%;
}

.games_page .selection_wrapper {
  text-align: justify;
  text-justify: inter-character;
  margin-top: 30px;
  transition: all .3s ease-in;
}

.games_page .selection_wrapper section p:first-child {
  margin-bottom: 30px;
}

.games_page .selection_wrapper ul {
  text-align: center;
}

.games_page .selection_wrapper li {
  display: grid;
  grid-template-columns: 40px auto;
  gap: 20px;
  width: 210px;
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
}

.games_page .selection_wrapper input[type="checkbox"] {
  cursor: pointer;
  transform:
  rotate(45deg)
  translateY(4px);
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--main-color);
  background: var(--secondary-bg-color);
  appearance: none;
  transform: all .3s ease;
}

.games_page .selection_wrapper label span {
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
}

.games_page .selection_wrapper label span::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 13px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px white;
  background: white;
  box-shadow:
  2px 2px 5px white,
  -2px -2px 5px white;
  cursor: pointer;
  opacity: 0;
}

.games_page .selection_wrapper input[type="checkbox"]:hover {
  border: 3px solid var(--main-color);
  box-shadow:
  1px 1px 4px var(--third),
  -1px -1px 4px var(--third);
}

.games_page  .selection_wrapper label span.checked::after {
  opacity: 1;
}

.games_page h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.games_page .wrapper button {
  border-radius: 2px;
  margin: 0;
  padding: 0.2em;
  width: 10ch;
  height: auto;
  text-align: center;
  overflow: visible;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background: var(--secondary-bg-color);
  cursor: pointer;
  transition: .5s ease;
}

.games_page .wrapper button:hover {
  box-shadow:
  2px 2px 5px var(--main-color)
  -2px -2px 5px var(--main-color);
  background: var(--main-background);
}

.games_page .confirm_btn.inqueue {
  content: 'Searching a match';
  background:
  linear-gradient(to bottom left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, .4) 80%),
  linear-gradient(to bottom left, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0) 100%),
  var(--main-color);
  border: none;
  color: var(--main-bg-color);
  font-weight: 900;
}

.games_page .confirm_btn.inqueue:hover {
  background:
  linear-gradient(to bottom left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, .4) 80%),
  linear-gradient(to bottom left, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0) 100%),
  var(--main-color);
  border: none;
  color: var(--main-bg-color);
  font-weight: 900;
  cursor: auto;
}

.games_page .button_wrap {
  grid-area: c;
}

.games_page .confirm_btn {
  position: relative;
}

.games_page .games_selection .cancel_btn {
  position: relative;
  top: 17px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none;
  img {
    width: 20px;
    height: auto;
    position: relative;
    top: -18px;
  }
}

.games_page .tournament_btn_wrapper {
  position: relative;
}

.games_page .tournament_btn {
  position: absolute;
  top: 50%;
  left: 25%;
  margin-bottom: 40px;
  justify-self: center;
  width: 50%;
}

.games_page .tournament_btn:first-child {
  transform: translateY(-50%);
}

.games_page .tournament_btn:nth-child(2) {
  transform: translateY(100%);
}

.games_page .tournament_btn button {
  font-size: 1.2em;
}

.games_page .games_selection button {
  font-size: 1.5em;
}

@media (max-width: 1380px) {
  .games_page .game_pres {
    height: 13ch;
  }
}

@media (max-width: 1320px) {
  .games_page .wrapper {
    margin: 30px 15% 0 15%;
  }
}

@media (max-width: 1220px) {
  .games_page .wrapper {
    font-size: 1.1rem;
  }
}

@media (max-width: 1130px) {
  .games_page .wrapper {
    display: block;
  }

  .games_page .wrapper li {
    font-size: 1.4rem;
  }

  .games_page .tournaments,
  .games_page .games_selection {
    width: 70vw;
  }

  .games_page .tournaments {
    margin-top: 120px;
  }

  .games_page .tournaments p {
    text-align: center;
    padding: 0 10% 0 10%;
    height: 5ch;
    margin-bottom: 30px;
  }

  .games_page .games_selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 40px;
  }

  .games_page .selection_wrapper {
    display: block;
  }

  .games_page .selection_wrapper ul {
    height: 140px;
  }

  .games_page .tournament_btn_wrapper {
    display: flex;
    justify-content: space-around;
    position: static;
  }

  .games_page .tournament_btn_wrapper .tournament_btn {
    position: static;
    transform: none;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .games_page .game_pres {
    height: 14ch;
  }
}

@media (max-width: 600px) {
  .games_page .games_selection {
    display: block;
    max-height: none;
  }

  .games_page .button_wrap {
    margin-top: 30px;
  }

  .games_page .game_pres {
    font-size: 1em;
    height: auto;
  }

  .games_page section {
    margin-bottom: 30px;
    height: auto;
  }

  .games_page .selection_wrapper ul {
    height: auto;
  }

  .games_page .tournaments {
    margin-top: 0;
  }

  .games_page .tournaments .game_pres {
    height: auto;
  }
}

@media (max-width: 540px) {
  .games_page .tournament_btn button {
    font-size: 1em;
  }

  .games_page .game_pres {
    height: auto;
  }

  .games_page .tournament_btn {
    padding: 0 10% 0 10%;
  }
}
