* {
  /* border: solid 1px red; */
}

.hero {
  padding: 20px 80px;
  background:
      linear-gradient(to bottom, var(--secondary-bg-color) 0%, var(--main-bg-color) 65%), 
      var(--main-bg-color);
}

.hero h2 {
  font-family: rajdhanibold;
  font-size: 2.5em;
  text-shadow: 1px 0 10px var(--fourth);
  text-transform: uppercase;
  color: var(--main-color);
} 

#catchphrase {
  margin-bottom: 20px;
}

#paddle {
  float: left;
  max-width: 20%;
  height: auto;
  margin-right: 30px;
}

#boat {
  float: right;
  max-width: 20%;
  height: auto;
  margin-left: 30px;
}

#login-signin {
  margin-top: 35px;
}

#login-signin div {
  display: flex;
  justify-content: space-evenly;
}

#login-signin button {
  border: solid 1px;
  border-radius: 2px;
  margin: 0;
  padding: 0.5em;
  width: auto;
  overflow: visible;
  background: transparent;
  color: white;
  font-size: 1.5em;
}

button[type='LogIn'] {
  border-color: var(--main-color);
}

.about img {
  width: 50px;
}

.about {
}
