* {
  /*border: solid 1px red;*/
}

.hero {
  padding-top: 20px;
  padding-bottom: 50px;
  background:
    linear-gradient(to bottom, var(--secondary-bg-color) 0%, var(--main-bg-color) 65%),
    var(--main-bg-color);
}

#catchphrase {
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  align-items: center;
  text-align: center;
}

#catchphrase h2 {
  font-family: rajdhanibold;
  font-size: 2.5em;
  text-shadow: 1px 0 10px var(--frourth);
  text-transform: uppercase;
  text-justify: none;
  color: var(--main-color);
}


#paddle {
  max-width: 100%;
}


#login-signin {
  display: flex;
  justify-content: space-evenly;
}

#login-signin div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vw;
}

#login-signin button {
  border-radius: 2px;
  margin: 0;
  padding: 0.5em;
  width: 8ch;
  overflow: visible;
  font-size: 2em;
  transition: .3s ease;
}

button[name="SignIn"] {
  background: var(--fourth);
  border: 1px solid var(--fourth);
  color: var(--main-bg-color);
}

button[name="SignIn"]:hover {
  background: var(--main-bg-color);
  border: 2px solid var(--fourth);
  box-shadow:
  2px 2px 10px var(--fourth),
  -2px -2px 8px var(--fourth);
  color: var(--fourth);
  font-weight: bolder;
}

button[name="LogIn"] {
  background: transparent;
  border: 1px solid var(--fourth);
  color: var(--fourth);
}

button[name="LogIn"]:hover {
  background: var(--fourth);
  border: 5px solid var(--fourth);
  box-shadow:
  2px 2px 10px var(--fourth),
  -2px -2px 8px var(--fourth);
  color: var(--main-bg-color);
  font-weight: bolder;
}

#boat {
  max-width: 20%;
  height: auto;
  margin-left: 30px;
}

.games {
  background: var(--fourth);
  padding-top: 50px;
  padding-bottom: 20px;
}

.games h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.game_wrapper {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}

.game_wrapper div {
  display: block;
  padding-bottom: 10%;
  padding-top: 10%;
  align-content: center;
  text-align: center;
}

.game_wrapper p {
  margin-top: 10%;
}

.game_wrapper img {
  display: block;
  object-fit: contain;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}


.about {
  background:
    var(--main-bg-color);
  padding: 20px 10% 40px 10%;
  font-size: 1.3em;
}

.presentation {
  padding: 10px;
}

.presentation p {
  letter-spacing: .2em;
  text-justify: auto;
  text-align: center;
  margin: 7%;
}

.presentation p:first-child {
  margin-top: 20px;
}

.presentation a {
  font-weight: 700;
}

.presentation a:hover {
  color: var(--main-color) !important;
  text-decoration: underline;
}

.bio_wrapper {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
  text-align: center;
}

.bio_wrapper img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.bio {
  align-items: center;
  margin-bottom: 20px;
}

.bio p {
  height: 100%;
  margin: auto;
}

.bio ul {
  margin-top: 10px;
  width: 100%;
}

.bio_wrapper .bio ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  margin-left: 20px;
}

.bio li img {
  width: 30px;
  border-radius: 0;
}

/* Responsive Design */

@media (min-width: 1080px) {
  .about,
  .hero,
  .games {
    padding-right: calc((100vw - 1000px) / 2);
    padding-left: calc((100vw - 1000px) / 2);
  }

  .hero {
    font-size: 1.2em;
  }
}

@media (max-width: 1080px) {
  .bio_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  #catchphrase  h2 {
    font-size: 2em;
  }

  #paddle {
    width: 150px;
    height: auto;
  }


  #paddle {
    width: 230px;
  }

  #boat {
    width: 190px;
  }
}

@media (max-width: 700px) {
  .hero img {
    display: none;
  }

  #catchphrase {
    display: block;
    text-align: center;
  }

  .about {
    grid-template:
      "a" auto
      "b" auto;
    grid-gap: 0;
  }

  .presentation {
    grid-area: a;
  }

  .presentation p {
    text-justify: inter-character;
    text-align: justify;
  }

  .bio {
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .bio .member {
    display: flex;
  }

  .bio img {
    width: 80px;
    margin-right: 10px;
  }

  .bio p {
    min-width: 130px;
    font-size: 1em;
  }
}

@media (max-width: 620px) {
  .bio img {
    width: 60px;
  }

  .bio p {
    min-width: 100px;
    font-size: 0.8em;
  }
}

@media (max-width: 530px) {
  #login-signin div {
    grid-gap: 5vh;
  }

  #login-signin button {
    font-size: 1.2em;
    padding: 5px;
  }

  .bio_wrapper {
    font-size: 0.9em;
  }
  .bio p {
    min-width: 80px;
  }

  .bio_wrapper .bio ul li {
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .bio p {
    min-width: 60px;
  }
}
