* {
  /* border: solid 1px red; */
}

.hero {
  padding: 20px 80px;
  background:
      linear-gradient(to bottom, var(--secondary-bg-color) 0%, var(--main-bg-color) 65%), 
      var(--main-bg-color);
  margin-bottom: 10vh;
}
 
#catchphrase {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

#catchphrase h2 {
  font-family: rajdhanibold;
  font-size: 2.5em;
  text-shadow: 1px 0 10px var(--fourth);
  text-transform: uppercase;
  color: var(--main-color);
}

#paddle {
  width: 100%;
}


#login-signin {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
}

#login-signin div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vw;
}

#login-signin button {
  border-radius: 2px;
  margin: 0;
  padding: 0.5em;
  width: 8ch;
  overflow: visible;
  font-size: 2em;
  transition: .3s ease;
}

button[name="SignIn"] {
  background: var(--fourth);
  border: 1px solid var(--fourth); 
  color: var(--main-bg-color);
}

button[name="SignIn"]:hover {
  background: var(--main-bg-color);
  border: 2px solid var(--fourth);
  box-shadow: 
        2px 2px 10px var(--fourth),
        -2px -2px 8px var(--fourth);
  color: var(--fourth);
  font-weight: bolder;
}

button[name="LogIn"] {
  background: transparent;
  border: 1px solid var(--fourth);
  color: var(--fourth);
}

button[name="LogIn"]:hover {
  background: var(--fourth);
  border: 5px solid var(--fourth);
  box-shadow: 
        2px 2px 10px var(--fourth),
        -2px -2px 8px var(--fourth);
  color: var(--main-bg-color);
  font-weight: bolder;
}

#boat {
  max-width: 20%;
  height: auto;
  margin-left: 30px;
}

.about img {
  width: 50px;
}

.about {
}
