/* Color Theme Swatches in Hex */
.Hevy-App-—-Redesign-Concept-1-hex { color: #403E3F; }
.Hevy-App-—-Redesign-Concept-2-hex { color: #2793F2; }
.Hevy-App-—-Redesign-Concept-3-hex { color: #22A2F2; }
.Hevy-App-—-Redesign-Concept-4-hex { color: #22B7F2; }
.Hevy-App-—-Redesign-Concept-5-hex { color: #0D0D0D; }

@font-face {
  font-family: 'ostrich_sans';
  src: url('../assets/fonts/ostrich-sans-master/webfonts/ostrich-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich_sans_black';
  src: url('../assets/fonts/ostrich-sans-master/webfonts/ostrich-sans-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  /* border: 1px solid red; */
}

html {
  background-color: #403E3F;
  background-repeat:  no-repeat;
  color: #2793F2;
  font-size: 20px;
 }

body {
  font-family: ostrich_sans;
  margin: 0px;
}

header {
  position: relative;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  font-size: 1.4em;
  background:
    linear-gradient(#2793F2 0 0) bottom/ 60% 2px no-repeat;
}

footer {
  background-color: #;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.home_btn {
  font-family: ostrich_sans_black;
  font-size: 1.6em;
  text-shadow: 1px 1px 1px #2793F2;
}

nav {
  align-items: center;
}

nav a {
  margin: 15px;
}

header a {
  text-decoration: none;
  padding-left: 10px;
}

header a:visited {
  color: #2793F2;
}

header a:hover {
  font-weight: bold;
}
