@import url('../assets/fonts/rajdhani/stylesheet.css');
@import url('../assets/fonts/ostrich-sans-master/webfonts/ostrich-sans.css');

@font-face {
  font-family: 'ostrich_sans';
  src: url('../assets/fonts/ostrich-sans-master/webfonts/ostrich-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich_sans_black';
  src: url('../assets/fonts/ostrich-sans-master/webfonts/ostrich-sans-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rajdhani_bold';
  src: url('../assets/fonts/rajdhani/rajdhani-bold-webfont.woff2') format('woff2');
  src: url('../assets/fonts/rajdhani/rajdhani-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rajdhani_regular';
  src: url('../assets/fonts/rajdhani/rajdhani-regular-webfont.woff2') format('woff2');
  src: url('../assets/fonts/rajdhani/rajdhani-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg-color: #0D0D0D;
  --secondary-bg-color: #292929;
  --main-color: #22B7F2;
  --secondary: #2E5F73;
  --third: #2180A6;
  --fourth: #009BD9;
}

* {
  /* border: 1px solid red; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: var(--main-bg-color);
  background-repeat:  no-repeat;
  color: white;
  font-size: 20px;
 }

body {
  font-family: ostrich_sans;
  margin: 0px;
}

header {
  padding: 20px 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  font-size: 1.4em;
  color: white;
  background:
      linear-gradient(to bottom right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 85%), 
      var(--secondary-bg-color);
}

.home_btn {
  font-family: rajdhanibold;
  font-size: 32px;
}

nav a {
  position: relative;
  display: inline-block;
  margin-left: 40px;
  font-size: 22px;
  font-weight: 700;
  height: 100%;
}

nav a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--main-color);
  transition: .3s;
}

nav a:hover::before {
  width: 100%;
}

header a {
  text-decoration: none;
  transition: .3s ease-in-out;
}

header a:visited {
  color: white;
}

header a:hover {
  color: var(--main-color);
}

footer {
  position: fixed;
  top: calc(100% - 100px);
  left: 0;
  background: 
    linear-gradient(to bottom right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 85%),
    var(--secondary-bg-color);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 30%;
  color: var(--main-color);
}

footer a {
  position: relative;
  font-weight: 700;
  text-align: center;
}

footer a::before {
  content: '';
  position: absolute;
  top: 1em;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--main-color);
  transition: .3s;
}

footer a:hover::before {
  width: 100%;
}
