.login_container {
  max-width: 700px;
  height: 340px;
  margin:
      80px    
      calc((100vw - 500px) / 2)
      80px
      calc((100vw - 500px) / 2);
  padding: 30px;
  background: var(--main-color);
  box-shadow: 
      -2px -2px 5px var(--fourth),
      2px 2px 5px var(--fourth);
  border-radius: 5px;
}

#messageConnexion {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .input-box {
  margin: 20px 0 20px 0;
  width: calc(100% / 2 - 20px);
}

form .input-box label {
  font-weight: 700;
  margin-bottom: 5px;
}

form .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  padding-left: 15px;
  font-size: 20px;
  transition: all .2s;
}

form .input-box input:focus {
  border-color: var(--secondary); 
}

.submit {
 display: flex;
 flex-flow: column;
 justify-content: space-between;
 align-items: center;
 height: 120px;
}

.submit button {
  width: 100%;
  letter-spacing: 2px;
  background: 
      linear-gradient(135deg, var(--secondary-bg-color),  var(--main-bg-color)),
      var(--main-bg-color);
  color: white;
  font-size: 1.3em;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--main-bg-color);
  border-radius: 5px;
  transition: all .3s;
}

.submit button:hover {
  background: 
      linear-gradient(135deg, rgba(0, 155, 217, 0.1), rgba(0, 155, 217, 0.4)),
      white;
  color: var(--main-bg-color);
  cursor: pointer;
}

.submit p {
  display: block;
  height: 100%;
  text-align: center;
}

.submit a {
  font-weight: 700;
}

.submit a:hover {
  text-decoration: underline;
  color: var(--third) !important;
}
