@import url('color.css');
@import url('../assets/fonts/rajdhani/stylesheet.css');

.settings_container {
  width: 670px;
  margin: auto;
  padding: 30px;
  background: var(--main-color);
  box-shadow: 
  -2px -2px 5px var(--fourth),
  2px 2px 5px var(--fourth);
  border-radius: 5px;
}

.settings_container label {
  pointer-events: none;
}

.settings_container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.settings_container form .input-box {
  margin-top: 12px;
  width: calc(100% / 2 - 20px);
}

.settings_container form .input-box label {
  font-weight: 700;
  margin-bottom: 5px;
}

.settings_container form .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  padding-left: 15px;
  font-size: 18px;
  transition: all .2s;
}

.settings_container form .input-box input:focus {
  border-color: var(--secondary); 
}

.settings_container form .input-box.avatar_box {
  display: flex;
}

.settings_container form .input-box.avatar_box label {
  height: 100%;
  margin-top: 9%;
}

.settings_container form .input-box input[type='file'] {
  display: none;
}

.settings_container form .input-box .avatar {
  background-color: antiquewhite;
  height: 100px;
  width: 100px;
  border: 3px solid #0af;
  border-radius: 50%;
  transition: background ease-out 200ms;
}

.settings_container form .input-box .preview {
  position: relative;
}

.settings_container form .input-box .upload_button {
  padding: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #08f;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: background-color ease-out 120ms;
  position: absolute;
  right: -5%;
  bottom: 0%;
}

.settings_container form .input-box .upload_button:hover {
  background-color: #45a;
}

.settings_container form .input-box .upload_button img {
  width: 20px;
  height: 20px;
}

.settings_container .submit {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.settings_container .submit button {
  width: 100%;
  letter-spacing: 2px;
  background: 
  linear-gradient(135deg, var(--secondary-bg-color),  var(--main-bg-color)),
  var(--main-bg-color);
  color: white;
  font-size: 1.3em;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  border: 1px solid  var(--main-bg-color);
  border-radius: 5px;
  transition: all .3s;
}

.settings_container .submit button:hover {
  background: 
  linear-gradient(135deg, rgba(0, 155, 217, 0.1), rgba(0, 155, 217, 0.4)),
  white;
  color: var(--main-bg-color);
  cursor: pointer;
}

.settings_container .submit p {
  margin-top: 10px;
  display: block;
  height: 100%;
  text-align: center;
}

.settings_container .submit a {
  font-weight: 700;
}

.settings_container .submit a:hover {
  text-decoration: underline;
  color: var(--third) !important;
}

.input-box.TFA_switch {
  display: flex;
  font-size: 1.2em;
  margin: auto 2%;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 80px;
  height: 34px;
  margin: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid var(--main-bg-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute; 
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;

  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--main-bg-color)
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

#messageError{
  text-align: center;
  font-family: rajdhanibold;
  color: rgb(196, 0, 0);
}

.slider.round:before {
  border-radius: 50%;
}

.TFA_PopUp_Container {
  height: 100%;
  min-height: 720px;
  width: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
  top:0
}

.TFA_PopUp_Container .TFA_PopUp
{
  position: relative;
  border: 2px solid var(--main-bg-color);
  border-radius: 15px;
  background-color: var(--secondary);

  height: 400px;
  width: 600px;
  top: calc(50% - (400px/2));
  left: calc(50% - (600px/2));
  transition: .3s ease;
}

.TFA_PopUp_Container .TFA_PopUp.TFA_qrContent {
  height: 550px;
}

.TFA_PopUp .TFA_Title
{
  margin-top: 50px;
  text-align: center;
  color: var(--main-bg-color);
  font-family: rajdhanibold;
}

.input-box {
  margin: 40px auto 5px auto;
  width: calc(100% / 2 - 20px);
}

.TFA_PopUp .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border-bottom-width: 2px;
  padding-left: 15px;
  font-size: 20px;
  transition: all .2s;
}

.TFA_Content .button_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.TFA_Content .button_wrapper button {
  width: 150px;
  letter-spacing: 2px;
  background: 
  linear-gradient(135deg, var(--secondary-bg-color),  var(--main-bg-color)),
  var(--main-bg-color);
  color: white;
  font-size: 1.3em;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--main-bg-color);
  border-radius: 5px;
  transition: all .3s;
}

.TFA_Content .button_wrapper button:hover {
  background: 
  linear-gradient(135deg, rgba(0, 155, 217, 0.1), rgba(0, 155, 217, 0.4)),
  white;
  color: var(--main-bg-color);
  cursor: pointer;
}

.TFA_Content .button_selector {
  margin-top: 30px;
  margin-left: calc(50% - 50px);
}
.TFA_Content .button_selector .selector_button_div {
  width: fit-content;
  text-align: center;
}	
.TFA_Content .button_selector p {
  text-align: center;
}

.selector_button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.selector_button.selected_BTN {
  border: 1px solid var(--main-bg-color);
}

.code-box {
  padding-left: calc(50% - 50px);
}
