h2 {
	text-align: center;
}

.join_tournament_wrapper {
	background: var(--fourth);
	padding: 20px 0;
}

.join_tournament_wrapper .tournament_list {
	display: block;
	width: 50%;
	height: 600px;
	overflow-y: scroll;
	margin-left: 25%;
	margin-right: 25%;
	background: var(--secondary-bg-color);
	border: 1px solid var(--main-bg-color);
	padding: 10px 0;
}

.join_tournament_wrapper .tournament_list li {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr;
	grid-gap: 10px;
	width: 100%;
	border-bottom: 1px solid var(--main-bg-color);
	padding: 5px;
	border-radius: 2px;
}

.join_tournament_wrapper .tournament_list li img {
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
}
