<!-- games html -->
{% load static %}
<script type="text/javascript" src="{% static '/js/loading.js' %}"></script>
{% block content %}
<h1>Choose your game</h1>
<div class="wrapper">
  <div class="games_selection">
    <section class="pong">
      <div class="headers">
        <h2>Pong</h2>
      </div>
      <div class="line1"></div>
      <div class="selection_wrapper">
        <p class="game_pres">Surpass your opponents and get ahead of the game in our racket game</p>
        <ul>
          <li>
            <label>
              <input type="checkbox" name="local">
              <span></span>
            </label>
            <p>Local game</p>
          </li>
          <li>
            <label>
              <input type="checkbox" name="AI">
              <span></span>
            </label>
            <p>vs AI</p>
          </li>
          <li>
            <label>
              <input type="checkbox" name="online">
              <span></span>
            </label>
            <p>Online game</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="battleship">
      <div class="headers">
        <h2>Battleship</h2>
      </div>
      <div class="line1"></div>
      <div class="selection_wrapper">
        <p class="game_pres">Show your strategy and surpass your enemy in our naval tactical game</p>
        <ul>
          <li>
            <label>
              <input type="checkbox" name="normal">
              <span></span>
            </label>
            <p>Online game</p>
          </li>
        </ul>
      </div>
    </section>
    <div class="button_wrap">
      <button class="confirm_btn">Confirm</button>
      <button class="cancel_btn"><img src="../static/assets/logo/cross.png" alt="cancellation cross"></button>
    </div>
  </div>
  <div class="tournaments">
    <div class="headers">
      <h2>Tournaments</h2>
    </div>
    <div class="line1"></div>
    <div class="selection_wrapper">
      <section>
        <p class="game_pres">Win your games, move to the next round, and show that your the best</p>
        <div class="line4"></div>
        <div class="tournament_btn_wrapper">
          <div class="tournament_btn">
            <button name="create_tournament">Create</button>
          </div>
          <div class="tournament_btn">
            <button name="join_tournament">Join</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock content %}
