<!-- homepage html -->
{% load static %}
<link rel="stylesheet" href="{% static '/css/homepage.css' %}">
<script type="module" src="{% static '/js/loading.js' %}"></script>
<script type="module" src="{% static '/js/authApp.js' %}"></script>
{% block content %}
<section class="hero">
  <div id="catchphrase">
    <img id="paddle" src="../static/assets/logo/ping-pong.png" alt="Ping pong paddles illustrations">
    <div>
      <h2>Strategy at sea, Precision on the paddle</h2>
      <p>Enjoy the experience of classical games !</p>
      <p>Challenge the world and show your skills !</p>
    </div>
  </div>
  <div id="login-signin">
    <div>
      <button name="LogIn">Log in</button>
      <button name="SignIn">Sign in</button>
    </div>
    <img id="boat" src="../static/assets/logo/battleship.png" alt="Battleshipi llustrations">
  </div>
</section>
<section class="about">
  <div class="bio_wrapper">
    <ul>
      <li>
        <img src="../static/assets/studs/fle-tolg.jpg" alt="Felix Le Tolguenec picture">
        Felix Le Tolguenec
        <ul>
          <li><a><img src="../static/assets/logo/github.png" alt="Link to Github page"></a></li>
          <li><a><img src="../static/assets/logo/linkedin.png" alt="Link to Linkedin page"></a></li>
        </ul>
      </li>
      <li>
        Gillian Pasquette
        <img src="../static/assets/studs/gpasquet.jpg" alt="Gillian Pasquette picture">
        <ul>
          <li><a href="https://github.com/GreenPG"><img src="../static/assets/logo/github.png" alt="Link to Github page"></a></li>
          <li><a href="https://www.linkedin.com/in/gillian-pasquette/"><img src="../static/assets/logo/linkedin.png" alt="Link to Linkedin page"></a></li>
        </ul>
      </li>
      <li>
        <img src="../static/assets/studs/mjuin.jpg" alt="Mickaël Juin picture" />
        Mickaël Juin 
        <ul>
          <li><a><img src="../static/assets/logo/github.png" alt="Link to Github page" /></a></li>
          <li><a><img src="../static/assets/logo/linkedin.png" alt="Link to Linkedin page" /></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="presentation">
    <p>
    This project was made as part of the <a href="https://42angouleme.fr/">Angouleme 42 School</a>.</p>
    <p>  
    The objective was to design website hosting multiplayer
    Pong game as Single Page Application.</p>
    <p>
    It was developped using <strong>HTML</strong>, <strong>CSS</strong> and vanilla <strong>JS</strong> for the front
    end, and <strong>Django</strong> and <strong>PostgreSQL</strong> for the backend.
    </p>
  </div>
</section>
{% endblock %} 
