<!-- homepage html -->
{% load static %}
<link rel="stylesheet" href="{% static '/css/homepage.css' %}">
<script type="module" src="{% static '/js/loading.js' %}"></script>
<script type="module" src="{% static '/js/authApp.js' %}"></script>
{% block content %}
  <section class="hero">
    <h2>Strategy at sea, Precision on the paddle</h2>
    <p>Enjoy the experience of classical games !</p>
    <p>Challenge the world and show your skills !</p>
    <button type="LogIn">Log in</button>
    <button type="SignIn">Sign in</button>
  </section>
  <section class="about">
   fdfdsfds 
  </section>
{% endblock %}
