{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatbox.css' %}">
    <link rel="stylesheet" href="{% static '/css/homepage.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="{% static '/css/needlogin.css' %}">
    <link rel="stylesheet" href="{% static '/css/register.css' %}">
    <link rel="stylesheet" href="{% static '/css/games.css' %}">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/css/settings.css' %}">
    <link rel="stylesheet" href="{% static '/css/error.css' %}">
    <link rel="stylesheet" href="{% static '/css/tournament.css' %}">
    <link rel="stylesheet" href="{% static '/css/tournamentCreation.css' %}">
    <link rel="stylesheet" href="{% static '/css/tournamentJoin.css' %}">
    <link rel="stylesheet" href="{% static '/css/pong.css' %}">
    <link rel="stylesheet" href="{% static '/css/battleship.css' %}">
    <meta name="ft_transcendence" content="width=device-width, initial-scale=1.0">
    <title>ft_transcendence</title>
    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
  </head>
  <body>
    <header>
      <a href="/" class="nav__link home_btn" data-link>ft_transcendence</a>
      <nav>
        <a href="/dashboard" class="nav__link" data-link>Dashboard</a>
        <a href="/games" class="nav__link" data-link>Play</a>
        <div class="profile_dropdown">
          <div class="profile_button">
            <img class="user_logo" src="{% static '/assets/logo/user.png' %}">
            <img class="user_logo" src="{% static '/assets/logo/blue_user.png' %}">
            <a href="" class="nav__link" data-link>Log in</a>
            <img id="angle" src="{% static '/assets/logo/angle_down.png' %}">
            <img id="blue_angle" src="{% static '/assets/logo/blue_angle_down.png' %}">
          </div>
          <div class="profile_menu">
            <li><a href="/userManagement" class="nav__link" data-link>Settings</a></li>
            <li><button name="logout">Log out</button><li>
          </div>
        </div>
      </nav>
      <img src="{% static '/assets/logo/hamburger.png' %}" alt="Navigation Menu" class="menu_btn">
      <div class="dropdown_menu">
        <li><a href="/dashboard" class="menu_link nav__link" data-link>Dashboard</a></li>
        <li><a href="/games" class="menu_link" data-link>Play</a></li>
        <div class="profile_dropdown">
          <div class="profile_button">
            <img class="user_logo" src="{% static '/assets/logo/user.png' %}">
            <img class="user_logo" src="{% static '/assets/logo/blue_user.png' %}">
            <a href="" class="nav__link" data-link>Log in</a>
            <img id="angle" src="{% static '/assets/logo/angle_down.png' %}">
            <img id="blue_angle" src="{% static '/assets/logo/blue_angle_down.png' %}">
          </div>
          <div class="profile_menu">
            <li><a href="/userManagement" class="nav__link" data-link>Settings</a></li>
            <li><button name="logout">Log out</button></li>
          </div>
        </div>
      </div>
    </header>
    <div id="app"></div>
    <div class="chatbox_wrapper">
      <div id="pop_up_unread_chatbox"></div>
      <div class="chatbox_header_wrapper">
        <div class="chatbox_header">
          <img src="{% static '/assets/logo/chat-solid-24.png' %}" alt="chat logo">
          <p>Chat</p>
        </div>
        <div class="notification_wrapper">
          <p></p>
        </div>
      </div>
      <div class="open_chatbox_wrapper">
        <div class="main_box">
          <div class="main_box_header">
          </div>
          <div class="main_box_body">
          </div>
        </div>
      </div>
    </div>
    <footer            >
      <a href="/#about" class="foot_link">About</a>
      <a href="" class="foot_link" data-link>Contact</a>
    </footer>
    <script type="module" src="{% static '/js/index.js' %}"></script>
  </body>
</html>
