{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatbox.css' %}">
    <link rel="stylesheet" href="{% static '/css/homepage.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="{% static '/css/register.css' %}">
    <link rel="stylesheet" href="{% static '/css/games.css' %}">
    <meta name="ft_transcendence" content="width=device-width, initial-scale=1.0">
    <title>ft_transcendence</title>
  </head>
  <header>
    <a href="/" class="nav__link home_btn" data-link>ft_transcendence</a>
    <nav>
      <a href="/dashboard" class="nav__link" data-link>Dashboard</a>
      <a href="/games" class="nav__link" data-link>Play</a>
      <div class="profile_dropdown">
        <div class="profile_button">
          <img src="../static/assets/logo/user.png">
          <img src="../static/assets/logo/blue_user.png">
          <a href="" class="nav__link" data-link>Log in</a>
          <img id="angle" src="../static/assets/logo/angle_down.png">
          <img id="blue_angle" src="../static/assets/logo/blue_angle_down.png">
        </div>
        <div class="profile_menu">
          <li><a href="" class="nav__link" data-link>Settings</a></li>
          <li><button name="logout">Log out</button><li>
        </div>
      </div>
    </nav>
    <img src="../static/assets/logo/hamburger.png" alt="Navigation Menu" class="menu_btn">
    <div class="dropdown_menu">
      <li><a href="/dashboard" class="menu_link nav__link" data-link>Dashboard</a></li>
      <li><a href="/games" class="menu_link" data-link>Play</a></li>
      <div class="profile_dropdown">
        <div class="profile_button">
          <img src="../static/assets/logo/user.png">
          <img src="../static/assets/logo/blue_user.png">
          <a href="" class="nav__link" data-link>Log in</a>
          <img id="angle" src="../static/assets/logo/angle_down.png">
          <img id="blue_angle" src="../static/assets/logo/blue_angle_down.png">
        </div>
        <div class="profile_menu">
          <li><a href="" class="nav__link" data-link>Settings</a></li>
          <li><button name="logout">Log out</button></li>
        </div>
      </div>
    </div>
  </header>
  <body>
    <div id="app"></div>
    <div class="chatbox_wrapper">
      <div class="chatbox_header_wrapper">
        <div class="chatbox_header">
          <img src="../static/assets/logo/chat-solid-24.png" alt="chat logo">
          <p>Chat</p>
        </div>
        <div class="notification_wrapper">
          <p></p>
        </div>
      </div>
      <div class="open_chatbox_wrapper">
        <div class="main_box">
          <div class="main_box_header homepage">
            <img src="../static/assets/logo/search-regular-24.png" alt="search icon">
            <input type="text" name"searchbar">
          </div>
          <div class="main_box_body homepage">
            <h2>Discussions</h2>
            <ul class="conversation_list">
              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>
              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>
              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>
              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>
              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>



              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>
              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>
              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>
              <li>
                <img src="../static/assets/logo/user.png" alt="converstion_picture">
                <div class="conversation_text">
                  <div class="conversation_name"> 
                    <p>Bibo</p>
                    <div class="connection_point"></div>
                  </div>
                  <p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
                </div>
                <div class="notification_wrapper active">
                  <p>1</p>
                </div>
              </li>
            </ul>
            <div class="chatbox_homepage_navbar">
              <button name="discussions">Discussions</button>
              <button name="friends">Friends</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="{% static '/js/index.js' %}"></script>
  </body>
  <footer>
    <a href="/#about" class="foot_link">About</a>
    <a href="" class="foot_link" data-link>Contact</a>
  </footer>
</html>
