<div class="main_box_header homepage">
	<img src="../static/assets/logo/search-regular-24.png" alt="search icon">
	<input type="text" name"searchbar">
</div>
<div class="main_box_body homepage">
	<h2>Discussions</h2>
	<ul class="conversation_list">
		<li>
			<img src="../static/assets/logo/user.png" alt="converstion_picture">
			<div class="conversation_text">
				<div class="conversation_name"> 
					<p>Bibo</p>
					<div class="connection_point"></div>
					<p class="last_msg">Salut le sang ! fdjig dfjiopg jdfl; ;gjdf gkfdsgfdfghdfklghfdjklhgdfsklhgkldfjkhgfdh;jdf; jg;fdfgdgfdgdffd</p>
				</div>
				<div class="notification_wrapper active">
					<p>1</p>
				</div>
		</li>
	</ul>
	<div class="chatbox_homepage_navbar">
		<button name="discussions">Discussions</button>
		<button name="friends">Friends</button>
	</div>
			</div>



			<div class="main_box_header private_message">
				<div class="contact_wrapper">
					<img src="../static/assets/logo/user.png" alt="contact profile picture">
					<div class="contact_name_wrapper">
						<p>Bibi</p>
						<div class="connection_point"></div>
					</div>
				</div>
				<img src="../static/assets/logo/arrow-back-regular-60.png" alt="return arrow button">
			</div>
			<div class="main_box_body private_message">
				<div class="conversation_wrapper">
					<ul class="conversation">
						<li class="message_item">
							<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
							<p class="timestamp">18/01/2024 11:56</p>
						</li>
						<li class="message_item own">
							<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
							<p class="timestamp">18/01/2024 11:56</p>
						</li>
						<li class="message_item own">
							<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
							<p class="timestamp">18/01/2024 11:56</p>
							<li class="message_item own">
								<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
								<p class="timestamp">18/01/2024 11:56</p>
								<li class="message_item own">
									<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
									<p class="timestamp">18/01/2024 11:56</p>
									<li class="message_item own">
										<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
										<p class="timestamp">18/01/2024 11:56</p>
					</ul>
				</div>
				<div class="sendbox">
					<input type="text" placeholder="Enter your message">
					<img src="../static/assets/logo/send-solid-60.png" alt="send arrow">
				</div>




				<div class="main_box_header channel">
					<div class="contact_wrapper">
						<img src="../static/assets/logo/user.png" alt="channel picture">
						<div class="contact_name_wrapper">
							<p>Bibi</p>
						</div>
					</div>
					<img src="../static/assets/logo/arrow-back-regular-60.png" alt="return arrow button">
				</div>
				<div class="main_box_body channel">
					<div class="conversation_body">
						<div class="sidebar">
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fdfdlghfl;dghkldfhgfdhsgk;fdhifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
							<div class="user_wrapper">
								<div class="connection_point connected"></div>
								<img src="../static/assets/logo/user.png" alt="channel member profile picture">
								<p class="username">Fifi</p>
							</div>
						</div>
						<div class="conversation_wrapper">
							<ul class="conversation">
								<li class="message_item">
									<div class="sender"></div>
									<div class="message_wrapper">
										<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
										<p class="timestamp">18/01/2024 11:56</p>
									</div>
								</li>
								<li class="message_item own">
									<div class="sender"></div>
									<div class="message_wrapper">
										<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
										<p class="timestamp">18/01/2024 11:56</p>
									</div>
								</li>
								<li class="message_item own">
									<div class="sender"></div>
									<div class="message_wrapper">
										<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
										<p class="timestamp">18/01/2024 11:56</p>
									</div>
								</li>
								<li class="message_item own">
									<div class="sender"></div>
									<div class="message_wrapper">
										<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
										<p class="timestamp">18/01/2024 11:56</p>
									</div>
								</li>
								<li class="message_item own">
									<div class="sender"></div>
									<div class="message_wrapper">
										<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
										<p class="timestamp">18/01/2024 11:56</p>
									</div>
								</li>
								<li class="message_item own">
									<div class="sender"></div>
									<div class="message_wrapper">
										<p class="message">kdfsgkfdgkfhdgjkdfhghldf</p>
										<p class="timestamp">18/01/2024 11:56</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="sendbox">
						<input type="text" placeholder="Enter your message">
						<img src="../static/assets/logo/send-solid-60.png" alt="send arrow">
					</div>
				</div>
			</div>

