{% load static %}
{% block TFA_Select %}
<h3 class="TFA_Content_Title">Please select your 2FA method</h3>

<div class="button_selector">
    <div class="selector_button_div">
        <button id="0" class="selector_button">
            <img src="{% static '/assets/logo/shield.svg' %}" alt="">
        </button>
        <p>Authenticator</p>
    </div>
    </div>
</div>

<div class="button_wrapper">
    <button class="cancel_BTN">Cancel</button>
    <button class="submit_BTN" disabled>Submit</button>
</div>
{% endblock TFA_Select %}