<!-- tournaments/tournamentsCreation.html -->
{% load static %}
<script type="module" src="{% static '/js/loading.js' %}"></script>

<p>
    Welcome To The Tournaments Creation Page
</p>

{% block content %}
<p><br/>
    <form>
		{% csrf_token %}

        <label for="TournamentsName">Tournaments Name:</label>
        <input type="text" class="TournamentsName"><br/>

        <label for="NumberOfPlayer">Number of players:</label>
        <input type="number" min="4" class="NumberOfPlayer"><br/>

    </form>
    <button class="submitButtonCreateTournaments">Submit</button>
    {% endblock content %}
</p>
